body {
  margin: auto;
  max-width: 50em;
  font-family: monospace;
  background-color: lavenderblush;
}

.book {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  color: black;
}
