{% extends "layout.html" %}

{% block title %}Kirjan muokkaus{% endblock %}

{% block content %}
<h2>Kirjan muokkaus</h2>
<form action="/update_item" method="post">
   <p>
     Kirjan nimi: <br />
     <input type="text" name="book_name" value="{{ item.book_name }}" maxlength="50" required />
   </p>
   <p>
     Kirjailijan nimi: <br />
     <input type="text" name="writer_name" value="{{ item.writer_name }}" maxlength="50" required />
   </p>
   <p>
     Julkaisuvuosi: <br />
     <input type="text" name="pub_year" value="{{ item.pub_year }}" pattern="[1-9][0-9]{0,4}" />
   </p>
   <p>
     Kuvaus: <br />
     <textarea name="description" rows="8" cols="60" maxlength="1500" required>{{ item.description }}</textarea>
   </p>
   <input type="hidden" name="item_id" value="{{ item.id }}" />
   {% for class in all_classes %}
   <p>
     {{ class }}: <br />
     <select name="classes">
        <option value="">(valitse)</option>
     {% for option in all_classes[class] %}
       {% if classes[class] == option %}
       <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
       {% else %}
       <option value="{{ class }}:{{ option }}">{{ option }}</option>
       {% endif %}
     {% endfor %}
     </select>
   </p>
   {% endfor %}
   <input type="submit" value="Päivitä kirjan tietoja" />
</form>
{% endblock %}
