<!DOCTYPE html>
<html>

<head>
  <title>Uusi kirja</title>
</head>

<body>
  <h1>Uusi kirja</h1>
  <form action="/create_item" method="post">
    <p>
      Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="50" required />
    </p>
    <p>
      Kirjailijan nimi: <br />
      <input type="text" name="writer_name" maxlength="50" required />
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="text" name="pub_year" maxlength="4" pattern="[1-9][0-9]{0,4}"/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1500" required ></textarea>
    </p>
    <p>
     Genre: <br />
     <select name="genre">
       <option value="">{valitse}</option>
       <option value="fantasia">fantasia</option>
       <option value="romantiikka">romantiikka</option>
       <option value="scifi">scifi</option>
       <option value="dystopia">dystopia</option>
       <option value="kauhu">kauhu</option>
       <option value="jännitys/trilleri">jännitys/trilleri</option>
       <option value="rikos/dekkari">rikos/dekkari</option>
       <option value="historiallinen romaani">historiallinen romaani</option>
       <option value="tietokirjallisuus">tietokirjallisuus</option>
       <option value="elämäkerrat">elämäkerrat</option>
       <option value="runous">runous</option>
       <option value="muu">muu</option>
     </select>
    </p>
    <p>
      Lukutapa: <br />
      <select name="format">
        <option value="">{valitse}</option>
        <option value="painettu kirja">painettu kirja</option>
        <option value="e-kirja">e-kirja</option>
        <option value="äänikirja">äänikirja</option>
      </select>
    </p>
    <input type="submit" value="Lisää kirja" />
  </form>
</body>

</html>
