{% extends "layout.html" %}

{% block title %}Uusi kirja{% endblock %}

{% block content %}
<h2>Uusi kirja</h2>
<form action="/create_item" method="post">
  <p>
    <label for="book_name">Kirjan nimi:</label> <br />
    <input type="text" name="book_name" id="book_name" maxlength="50" required />
  </p>
  <p>
    <label for="writer_name">Kirjailijan nimi:</label> <br />
    <input type="text" name="writer_name" id="writer_name" maxlength="50" required />
  </p>
  <p>
    <label for="pub_year">Julkaisuvuosi:</label> <br />
    <input type="text" name="pub_year" id="pub_year" maxlength="4" pattern="[1-9][0-9]{0,4}"/>
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1500" required ></textarea>
  </p>
  <p>
    <label for="read_year">Lukuvuosi:</label> <br />
    <input type="number" name="read_year" min="1900" max="2100">
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää kirja" />
</form>
{% endblock %}
