{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
{% if user.has_image %}
<img class="profile-pic" src="/image/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva" />
   {% if user.id == session.user_id %}
   <form action="/remove_image" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="hidden" name="remove" value="1">
      <button type="submit">Poista profiilikuva</button>
   </form>
   {% endif %}
{% else %}
   {% if user.id == session.user_id %}
   <p>
      <a href="/add_image">Lisää profiilikuva</a>
   </p>
   {% endif %}
{% endif %}

<p>
   {{ user.username }} on lukenut yhteensä {{ items | count }} {{"kirjan" if items|count == 1 else "kirjaa"}}.
</p>

<h4>Lukutilasto vuosittain</h4>
<ul>
{% for row in year_counts %}
   {% if row[1] == 1 %}
   <li>{{ row[0] }}: {{ row[1] }} kirja</li>
   {% else %}
   <li>{{ row[0] }}: {{ row[1] }} kirjaa</li>
   {% endif %}
{% else %}
   <p>
   </p>
{% endfor %}
</ul>

<h3>Luetut kirjat</h3>
{% for item in items %}
<div class="user_books">
<a href="/item/{{ item.id }}">{{ item.book_name }}</a>
</div>
{% endfor %}

{% endblock %}
