{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
{% if user.has_image %}
<img src="/image/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva" />
{% endif %}

{% if user.id == session.user_id %}
<p>
<a href="/add_image">Lisää profiilikuva</a>
   </p>
   {% endif %}
   <p>
     Käyttäjä on lukenut yhteensä {{ items | count }} kirjaa.
   </p>
<h3>Luetut kirjat</h3>
<ul>
   {% for item in items %}
   <li><a href="/item/{{ item.id }}">{{ item.book_name }}</a></li>
   {% endfor %}
</ul>
{% endblock %}
